autopep8==1.5.7
certifi==2020.12.5
chardet==3.0.4
Deprecated==1.1.0
flake8==3.9.2
gazu==0.8.14
idna==2.10
importlib-metadata==4.0.1
mccabe==0.6.1
numpy==1.19.5
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
pycodestyle==2.7.0
pyflakes==2.3.1
PySide2==5.15.2
requests==2.24.0
shiboken2==5.15.2
six==1.16.0
socketIO-client==0.7.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.25.11
websocket-client==0.59.0
zipp==3.4.1
cryptography==43.0.3